<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pet_papb">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetPAPB">
        <activity android:name=".UI.MessageActivity" >
        </activity>
        <activity android:name=".UI.Kosongan2Activity" />
        <activity android:name=".UI.KosonganActivity" />

        <activity android:name=".UI.PCSurabayaTwoDetailActivity" />
        <activity android:name=".UI.PCSurabayaOneDetailActivity" />
        <activity android:name=".UI.PCMalangTwoDetailActivity" />
        <activity android:name=".UI.PCMalangOneDetailActivity" />
        <activity android:name=".UI.PCSurabayaActivity" />
        <activity android:name=".UI.PCMalangActivity" />
        <activity android:name=".UI.PetCareActivity" /> <!-- <activity android:name=".AdoptionActivity"/> -->
        <activity android:name=".UI.DummyActivity" />

        <activity android:name=".UI.Homepage1.HomepageActivity" /> <!-- <activity android:name=".UI.Adoption1.AdoptionActivity"> -->

<!--        Login-->
        <activity android:name=".UI.Login.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Login.SignupActivity"
            android:parentActivityName=".UI.Login.StartActivity" />
        <activity
            android:name=".UI.Login.LoginActivity"
            android:parentActivityName=".UI.Login.StartActivity" />

<!--        Adoption1-->
        <activity android:name=".UI.Adoption1.AdoptionActivity"
            android:parentActivityName=".UI.Homepage1.HomepageActivity"/>
        <activity
            android:name=".UI.Adoption1.DetailAdoptionActivity"
            android:parentActivityName=".UI.Adoption1.AdoptionActivity" />


<!--        HomePage 2-->
        <activity android:name=".UI.Homepage2.Homepage2Activity" />
        <activity
            android:name=".UI.Adoption2.PostPetActivity"
            android:parentActivityName=".UI.Homepage2.Homepage2Activity"/>
        <activity android:name=".UI.Homepage2.Adoption2Activity"
            android:parentActivityName=".UI.Homepage2.Homepage2Activity"/>
    </application>

</manifest>